{% extends 'base.html' %}
{% block content %}
  <h1>Ricepe List</h1>
  {% for recipe in recipes %}
    <div class="card">
      <div class="card-content">
      <a href="{% url 'detail' recipe.id %}">
                <div class="flex-container">
            <div>
              <h5>Name: {{recipe.user.username}}</h5>
              <span class="card-title">{{ recipe.title }}</span>
              <h6>Category:{{  recipe.get_category_display }}</h6> 
              <p>Ingredients: {{ recipe.ingredients }}</p>
              <p>Description: {{ recipe.description }}</p>
            </div>
            <div>
                {% load static %}
                <img src="{% static recipe.image|cut:'main_app/static/' %}" width="100px" height="100px" alt="Recipe Image">
            </div>
      </div>
    </div>
    </a>
  </div>
        {% endfor %}
        {% endblock %}