{% extends 'base.html' %}
{% block content %}
<form method="GET" action="">
  <input type="text" name="q" placeholder="Search recipes or categories..." value="{{ request.GET.q }}" class="btn" >
  <button type="submit">Search</button>
</form>

  {% for recipe in recipes %}
  <div class="card">
      <div class="card-content">
  <a href="{% url 'detail' recipe.id %}">
    <div class="flex-container">
      <div>
      <strong>{{ recipe.title }}</strong> (Category: {{ recipe.get_category_display }})
    </div>
      <div>
                {% load static %}
                <img src="{% static recipe.image|cut:'main_app/static/' %}" width="100px" height="100px" alt="Recipe Image">
            </div>
    
    </div>
    </div>
    </a>
    </div>
  {% empty %}
    <h6>No results found</h6>
{% endfor %}
{% endblock %}